h1{
  text-align: center;

}
h3{
  color: red;
  text-align: center;
}
/*This is the description of the operation section on the top left of main page*/
#OperationInstruction{
    color: green;
    float: left;
    width: 50%;
    


}
/*This is for the description of the relationships field at top right of main page.*/
#RelationshipInstruction{
    color: blue;
    float: right;
    width: 50%;
    

}
